
DirectoryIndex index.php index.html

{# Set up VirtualHosts #}

<VirtualHost *:{{ apache_listen_port }}>
  ServerName {{ item['servername'] }}
{% if item['serveralias'] is defined %}
  ServerAlias {{ item['serveralias'] }}
{% endif %}
  DocumentRoot {{ item['documentroot'] }}

{% if item['serveradmin'] is defined %}
  ServerAdmin {{ item['serveradmin'] }}
{% endif %}
  <Directory "{{ item['documentroot'] }}">
    AllowOverride All
    Options -Indexes FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
{% if item['extra_parameters'] is defined %}
  {{ item['extra_parameters'] }}
{% endif %}
</VirtualHost>
